<!DOCTYPE html>

<head>
  <title>Runaway</title>
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
</head>

<body>

  <h1>Runaway</h1>

  <div id="bigdiv" style="width:1920px;height:1080px">
    
    <svg xmlns="http://www.w3.org/2000/svg" id="vimage" station="{{stationid}}" height="1000" width="1200" style="border: 1px solid;">
      <image xlink:href={{link}} height="700" width="700"/>
      {% if hasCoordinates %}
      <circle cx="350" cy="350" r="5" fill="red"></circle>
      {% endif %}
    </svg>

    <!--
    <div id="pieLegend">
      <h3> Current Station Status </h3>
    </div>-->
  </div>

  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      {% for dict in list %}
      <a href="/{{dict["latitude"]}}/{{dict["longitude"]}}?id={{dict["id"]}}">{{dict["stAddress1"]}}</a>
      {% endfor %}
    </div>

  </div>

</body>

<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>
<script src="../static/charts.js"></script>

</html>
