<!DOCTYPE html>
<head>
    <title>Runaway</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
</head>

<body>
    <h1 style="text-align:center">RunawayBikes</h1>

    <div id="dropdown" style="text-align:center">
        <input id="searchbar" type="text" style="text-align:center;height:75px;width:800px;font-size:30pt;margin-bottom:10px" placeholder="Search your CitiBike station..." onkeyup="filter()" oninput="toggler()">
    </div>

    <div style="text-align:left">
        <div id="stations">
            {% for dict in list %}
            <a href="/{{dict["latitude"]}}/{{dict["longitude"]}}?id={{dict["id"]}}">{{dict["stAddress1"]}}</a>
            {% endfor %}
        </div>
    </div>

    <h2>{{stationName}}</h2>

    <script src="../static/search.js"></script>

</body>
</html>
